@font-face{
    font-family: 'azonix';
    src: url('../fonts/azonix.otf');
}
@font-face{
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold.ttf');
}
@font-face{
    font-family: 'montserrat-medium';
    src: url('../fonts/montserrat-medium.ttf');
}
@font-face{
    font-family: 'montserrat-semiBold';
    src: url('../fonts/montserrat-semi-bold.ttf');
}
:root{
    --montserrat-medium: 'montserrat-medium';
    --montserrat-bold: 'montserrat-bold';
    --montserrat-semi-bold: 'montserrat-semiBold';
    --heading-font: 'azonix';

    --primary-color: #5AB947;
    --secondary-color: #015998;
}

.about-hero{
    height: 76vh;
    background-size: 140%;
    background-repeat: no-repeat;
    background-image: url('../images/about-hero-stock-img.png');
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* position: relative; */
}
/* .about-hero::after{
    content: '';
    background-color: #00000045;
    background: linear-gradient(45deg,#012d4c87, #5ab94761);
    height: 76vh;
    width: 100%;
    position: absolute;
    z-index: 0;
} */
.about-hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-hero-content h1{
    font-size: 3.4vw;
    color: #fff;
    z-index: 100;
    font-family: var(--heading-font);
}
.about-hero-content p{
    color: #fff;
    font-family: var(--montserrat-medium);
    font-size: 1vw;
    width: 54%;
    margin-top: 12px;
    text-align: center;
}

.what-we-do-section {
    display: flex;
    flex-direction: row;
    /* background-color: #121C22; */
    padding: 2rem 0;
    padding-bottom: 0rem;
    /* background-color: #E1E6E9; */
    margin-top: 0;
    /* background: linear-gradient(45deg,#CCDEEA,#BDE3B5); */
}
.what-we-do-section{
    height: 82vh;
}
.what-we-do-left p {
    color: #474747;
    margin: 2rem 0;
    width: 84%;
    font-size: 1vw;
    line-height: 24px;
}


.year-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.year-heading h1{
    -webkit-text-stroke-width: 3px;
    letter-spacing: 2px;
    margin: 2rem 0;
    -webkit-text-stroke-color: #015998b0;
    color: #fff;
    font-size: 15vw;
    font-family: "Manrope Alt", Sans-serif;
}


.about-section {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    height: auto;
    padding-top: 4rem;
}
.about-section-left{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-section-left img:nth-child(1){
    border-top-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
    margin: 10px;
    width: 14vw;
    height: 14vw;
}
.about-section-left img:nth-child(2){
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    height: 14vw;
    width: 14vw;    
}
.about-section-left img:nth-child(3){
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    height: 14vw;
    width: 14vw;
}
.about-section-left img:nth-child(4){
    border-top-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
    height: 14vw;
    width: 14vw;
}
.about-section-right h2{
    margin-top: 1.2rem;
}

/* -------------------------------------- */

.about-section-about-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 0;
    position: relative;
    /* background-color: #0159981d; */
    /* background:linear-gradient(180deg,#BDE3B5,#CCDEEA,#fff); */
}
.about-section-about-page-left img{
    width: 32vw;
    height: 76vh;
    border-top-right-radius: 18rem;
    border-bottom-left-radius: 18rem;
    position: relative;
}
.about-section-about-page-left:before{
    content: '';
    background-image: url('../images/leaves.svg');
    height: 53rem;
    width: 40rem;
    position: absolute;
    transform: rotate(90deg);
    z-index: 0;
    top: 0;
    left: 0rem;
    /* filter: blur(1px); */

    display: none;
}
.about-section-right-about-page p{
    color: #3c3c3c;
}

/* ------------------------------------- */

.mission-container{
    margin-top: 4rem;
}
.mission-container,.vision-container,.values-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 6rem;
}
.mission-left{
    padding-left: 4rem;
}
.mission-left h2{
    font-size: 2.2vw;
    font-family: var(--heading-font);
    padding-bottom: 22px;
}
.mission-left p{
    font-size: 1.1vw;
    font-family: var(--montserrat-medium);
    padding-bottom: 24px;
    color: #4f4e4e;
}
.mission-left h3{
    font-family: var(--montserrat-semi-bold);
}
.mission-left ul li{
    list-style-type: disc;
    font-family: var(--montserrat-medium);
    margin: 12px 34px;
    font-size: 1.1vw;
    color: #4f4e4e;
    list-style-image: url('../images/icons8-leaf-12.png');
}
.mission-right img{
    width: 32vw;
    height: 72vh;
    border-top-left-radius: 19rem;
    border-bottom-right-radius: 19rem;
    transform-origin: bottom left;
    /* animation: leaf-rotation-right .8s ease-in; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
} 
.mission-right::after{
    content: '';
    position: absolute;
    background:linear-gradient(#012D4C,#5AB947);
    top: 0rem;
    right: 0rem;
    width: 33vw;
    height: 74vh;
    border-bottom-right-radius: 18rem;
    border-top-left-radius: 18rem;
    z-index: -1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@keyframes leaf-rotation-right {
    from {
        transform: rotate(-90deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
    }
}

/* ------------------------------------- */

.vision-container{
    background-color: #e3eaef71;
    margin: 1rem 0;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.vision-right h2{
    font-size: 2.2vw;
    font-family: var(--heading-font);
    padding-bottom: 22px;
}
.vision-right p{
    font-size: 1.1vw;
    font-family: var(--montserrat-medium);
    padding-bottom: 24px;
    color: #4f4e4e;
}
.vision-right ul li{
    list-style-type: disc;
    font-family: var(--montserrat-medium);
    margin: 12px 34px;
    padding-left: 8px;
    font-size: 1.1vw;
    color: #4f4e4e;
    list-style-image: url('../images/icons8-leaf-12.png');
}
.vision-right h3{
    font-family: var(--montserrat-semi-bold);
}

.vision-right{
    padding-right: 4rem;
}
.vision-left img{
    width: 32vw;
    height: 72vh;
    border-top-right-radius: 19rem;
    border-bottom-left-radius: 19rem;
} 
.vision-left::after{
    content: '';
    position: absolute;
    background-color: #00f382;
    background:linear-gradient(#012D4C,#5AB947);
    top: 0rem;
    left: 0rem;
    width: 33vw;
    height: 74vh;
    border-top-right-radius: 18rem;
    border-bottom-left-radius: 18rem;
    z-index: -1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* -------------------------------------- */

.year-hd{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    position: relative;
    margin-top: 6rem;
}
.year-hd h1{
    z-index: 100;
    font-size: 10vw;
    /* margin-top: 2rem; */
    font-family: var(--heading-font);
    background-image: url('https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}
.year-hd span{
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: var(--heading-font);
    margin-bottom: 16px;
    margin-left: 16px;
    position: absolute;
}

/* ------------------------------------- */

.steps-section{
    padding-top: 2rem;
    margin-top: 3rem;
    height: 450vh;
    padding-bottom: 4rem;
    background-color:#e3eaef35;
    /* background: linear-gradient(#d5e2ead9,#cce6c7af); */
}

/* ------------------------------------- */

.about-page-cards-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding-bottom: 4rem; */
}
.cards-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
}


#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

.card {
	position: sticky;
	top: 16rem;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {

	@scroll-timeline cards-element-scrolls-in-body {
		source: selector(body);
		scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */
			selector(#cards) start 1,
			/* End when the start edge touches the start of the scrollport */
			selector(#cards) start 0
		;
		start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
		end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
		time-range: 4s;
	}

	.card {
		--index0: calc(var(--index) - 1); /* 0-based index */
		--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
		--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
	}
	
	.card__content {
		transform-origin: 50% 0%;
		will-change: transform;

		--duration: calc(var(--reverse-index0) * 1s);
		--delay: calc(var(--index0) * 1s);

		animation: var(--duration) linear scale var(--delay) forwards;
		animation-timeline: cards-element-scrolls-in-body;
	}

	@keyframes scale {
		to {
			transform:
				scale(calc(
					1.1
					-
					calc(0.1 * var(--reverse-index))
				));
		}
	}
}

/** DEBUG **/

#debug {
  position: fixed;
  top: 1em;
  left: 1em;
}
#debug::after {
  content: " Show Debug";
  margin-left: 1.5em;
  color: white;
  white-space: nowrap;
}

#debug:checked ~ main {
  --outline-width: 1px;
}

#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid blue;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
    width: 86%;
}

.card {
	outline: var(--outline-width) solid hotpink;
}

.card__content {
	/* box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;
    height: 65vh;
	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	outline: var(--outline-width) solid lime;
}

.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;

	display: grid;
	gap: 1em;
	place-items: start;
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__content h2 {
	font-weight: 300;
	font-size: 1.4vw;
    font-family: var(--heading-font);
}

.card__content p {
	font-family: var(--montserrat-medium);
	font-weight: 300;
    color: #3e3e3e;
	line-height: 1.42;
    font-size: 1vw;
}

.btn {
	background: rgb(188 87 36);
	color: rgb(255 255 255);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
}

aside {
	width: 50vw;
	margin: 0 auto;
	text-align: left;
}

aside p {
	margin-bottom: 1em;
}


/* -------------------------- */

.quality-approval-section,.map-section{
    background-color: #fff;
    z-index: 100;
    position: relative;
}
.quality-approval-section{
    margin-top: 1rem;
}
.map-section{
    padding-bottom: 4rem;
}
.footer-top{
    background-color: #CCDEEA;
    margin-top: 0;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    position: relative;
    z-index: 30;
}

