*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'azonix';
    src: url('../fonts/azonix.otf');
}
@font-face{
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold.ttf');
}
@font-face{
    font-family: 'montserrat-medium';
    src: url('../fonts/montserrat-medium.ttf');
}
@font-face{
    font-family: 'montserrat-semiBold';
    src: url('../fonts/montserrat-semi-bold.ttf');
}
:root{
    --montserrat-medium: 'montserrat-medium';
    --montserrat-bold: 'montserrat-bold';
    --montserrat-semi-bold: 'montserrat-semiBold';
    --heading-font: 'azonix';

    --primary-color: #5AB947;
    --secondary-color: #015998;
}

/* -------------------------------------------------- */

.contact-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /* background-image: url('../images/gallery-hero-img.jpeg'); */
    background-color: #007bff;
    background-image: url('../images/hero-bgs/contact-page-hero-bg.webp');
}
.contact-hero h1{
    font-size: 3vw;
    color: #fff;
    font-family: var(--heading-font);
}

/* -------------------------------------------------- */

/* .contact-section-one{
    height: 100vh;
    background-image: url('../images/contact-card-bg-img-bg.jpeg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding: 2rem 0;
}
.contact-section-one-left{
    color: #000;
}
.contact-section-one-left span{
    font-size: .7vw;
    font-family: var(--montserrat-medium);
}
.contact-section-one-left h2{
    font-size: 2.2vw;
    font-family: var(--heading-font);
    margin-top: 10px!important;
    line-height: 38px;
}
.contact-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-content div{
    padding: 2rem 1rem!important;
}
.contact-content div h4{
    font-weight: 600;
}
.contact-content div p{
    font-weight: 200;
    padding: 6px 0;
    color: #414040;
}
.contact-content{
    text-align: start;
}
.contact-content h4 {
    font-size: 1vw;
    margin: 0px;
}

.contact-section {
    background: #fff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: start;
    padding: 3rem;
    background-color: #121C22;
    margin: 0 2rem;
}
.contact-header h2 {
    margin: 0;
    font-size: 2.2rem;
    color: #fff;
    font-family: var(--heading-font);
}
.contact-header p {
    margin: 0.5rem 0 1.5rem;
    font-size: 1.1rem;
    color: #919191;
    font-family: var(--montserrat-medium);
    margin: 20px 0;
    margin-bottom: 4rem;
}
.contact-section-one-left{
    padding: 1rem 2rem;
}
.footer-contact h4{
    font-family: var(--montserrat-medium);
    font-size: 1.2rem;
}
.footer-contact a{
    font-family: var(--montserrat-medium);
    color: #484848;
    text-decoration: underline;
}
.footer-socials-logo i {
    font-size: 1.4vw;
    margin-right: 6px;
    padding: 8px;
    background-color: #000;
    color: #fff;
}

.contact-map{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-page-address-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contact-page-address-card{
    margin: 2rem;
}
.contact-page-address-card-text{
    text-align: center;
    padding: 10px;
}
.contact-page-address-card-text h3{
    font-family: var(--montserrat-bold);
    margin-bottom: 10px;
}
.contact-page-address-card-text h4{
    color: #4e4c4c;
    font-family: var(--montserrat-medium);
} */

/* -------------------------------------------------- */


@media(max-width: 620px){
    .contact-section-one-left h2 {
        font-size: 5vw;
        line-height: 40px;
    }
}
@media(max-width: 620px){
    .contact-hero {
        background-size: 300%;
    }
    .contact-container {
        margin: 2rem 0;
    }
    .contact-hero h1 {
        font-size: 8vw;
        color: #fff;
        font-family: var(--heading-font);
    }
    .contact-section-one{
        flex-direction: column;
        height: auto;
    }
    .contact-page-address-container{
        flex-direction: column;
    }
    .contact-header h2 {
        font-size: 2rem;
    }
    .contact-header p {
        font-size: .9rem;
        margin: 2px 0;
        margin-bottom: 2rem;
    }
    .contact-page-address-container iframe{
        width: 100%;
    }
    .contact-page-address-card {
        margin: 1rem;
    }
    .contact-section {
        width: 90vw;
        padding: 1.2rem;
        margin: 0 1rem;
    }

    .contact-section-one-left h2 {
        font-size: 5vw;
        line-height: 22px;
    }
    .contact-section-one-left {
        width: 100%;
    }
    .footer-socials-logo i {
        font-size: 4vw;
    }
    .contact-section-one-left {
        padding: 1rem 1.4rem;
    }
}
@media(max-width: 300px){
    .contact-hero {
        background-size: 400%;
    }
}


