*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'azonix';
    src: url('../fonts/azonix.otf');
}
@font-face{
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold.ttf');
}
@font-face{
    font-family: 'montserrat-medium';
    src: url('../fonts/montserrat-medium.ttf');
}
@font-face{
    font-family: 'montserrat-semiBold';
    src: url('../fonts/montserrat-semi-bold.ttf');
}
:root{
    --montserrat-medium: 'montserrat-medium';
    --montserrat-bold: 'montserrat-bold';
    --montserrat-semi-bold: 'montserrat-semiBold';
    --heading-font: 'azonix';

    --primary-color: #5AB947;
    --secondary-color: #015998;
}

/* -------------------------------------------------- */

.gallery-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: 110% 120%;
    background-position: center;
    background-image: url('../images/hero-bgs/gallery-hero-img.webp');
}
.gallery-hero h1{
    font-size: 3vw;
    color: #fff;
    font-family: var(--heading-font);
}

/* -------------------------------------------------- */

.gallery-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 90px 100px;
}
.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.gallery img:hover {
    transform: scale(1.05);
}
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.lightbox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    animation: zoomIn 0.3s ease-in-out;
}
/* Zoom animation */
@keyframes zoomIn {
    from {
        transform: scale(0.4);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.lightbox .close, .lightbox .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    z-index: 1001;
}
.lightbox .close {
    top: 10%;
    right: 10%;
    font-size: 2.5rem;
    transform: none;
}
@keyframes zoomOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
.lightbox .prev {
    left: 5%;
}
.lightbox .next {
    right: 5%;
}

@media(max-width:1120px){
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery-hero{
        height: 75vh;
        background-position: center;
        background-size: 160% 120%;
    }
}
@media(max-width:780px){
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 30px;
    }
    .gallery-hero{
        height: 60vh;
        background-position: center;
        background-size: 170% 120%;
    }
    .gallery-hero h1{
        font-size: 6vw;
    }
}
@media(max-width:520px){
    .gallery {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
    .gallery-hero{
        height: 50vh;
        background-position: center;
        background-size: 290% 120%;
    }
    .gallery-hero h1{
        font-size: 8vw;
    }
}
