*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'azonix';
    src: url('../fonts/azonix.otf');
}
@font-face{
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold.ttf');
}
@font-face{
    font-family: 'montserrat-medium';
    src: url('../fonts/montserrat-medium.ttf');
}
@font-face{
    font-family: 'montserrat-semiBold';
    src: url('../fonts/montserrat-semi-bold.ttf');
}
:root{
    --montserrat-medium: 'montserrat-medium';
    --montserrat-bold: 'montserrat-bold';
    --montserrat-semi-bold: 'montserrat-semiBold';
    --heading-font: 'azonix';

    --primary-color: #5AB947;
    --secondary-color: #015998;
}

.product-hero-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/product-demo-img.png');
    background-repeat: no-repeat;
    background-size: 100% 180%;
    text-align: center;
    height: 70vh;
}
.product-hero-section h1{
    font-size: 4.4vw;
    color: #fff;
    font-family: var(--heading-font);
}
.product-hero-section p{
    color: #fff;
    font-family: var(--montserrat-medium);
    font-size: 1.2vw;
}
.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.about-product-left{
    display: flex;
    flex-direction: row;
}
.about-product-left img{
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    height: 28rem;
}
.product-ribbon{
    position: relative;
    background-color: #00f382;
    height: 14rem;
    width: 1.2rem;
}
.about-product{
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 2.2rem 4rem;
    background-color: #001c2f;
}
.about-product .about-inner-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2rem;
}
.about-product-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.about-product-right h2{
    margin-bottom: 1rem;
    font-size: 2.8rem;
    color: #fff;
    font-family: var(--heading-font);
}
.about-product p{
    font-family: var(--montserrat-medium);
    padding: 12px 4px;
    color: #b9b9b9;
    line-height: 28px;
}
.product-page-quote-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 14px 24px;
    background-color: #00f382;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: .3rem;
    border-top-right-radius: .3rem;
    cursor: pointer;
    width: 12rem;
    margin-top: 2rem;
    font-weight: 600;
    color: #fff;
    font-size: 1.2rem;
    box-shadow: rgb(0, 243, 130) 0px 10px 20px -11px;
}

/* --------------------------------------- */

.product-features {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding: 2rem 4rem;
    height: 150vh; /* Set the container height to enable scrolling */
    background-color: #001c2f07;
}

.product-feature-left {
    flex: 2;
    position: relative; /* Keeps the sticky image within this container */
}

.feature-image {
    position: sticky;
    top: 2rem; /* Sticks the image to the top of the viewport */
    max-width: 100%;
    height: auto;
}
.product-feature-left img{
    height: 34rem;
    /* width: 50rem!important; */
}

.product-feature-right {
    flex: 2;
    overflow-y: auto;
    padding: 20px;
}

.product-feature-right h2{
    font-size: 2.8rem;
    font-family: var(--heading-font);
}

.product-feature-right h3{
    font-size: 2.4rem;
    color: #3f3f3f;
    font-family: var(--heading-font);
}
.product-feature-right p{
    font-family: var(--montserrat-medium);
    padding: 20px 4px;
    color: #3f3f3f;
    line-height: 26px;
}
.product-feature-right p b{
    color: #000;
}

