*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'azonix';
    src: url('../fonts/azonix.otf');
}
@font-face{
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold.ttf');
}
@font-face{
    font-family: 'montserrat-medium';
    src: url('../fonts/montserrat-medium.ttf');
}
@font-face{
    font-family: 'montserrat-semiBold';
    src: url('../fonts/montserrat-semi-bold.ttf');
}
:root{
    --montserrat-medium: 'montserrat-medium';
    --montserrat-bold: 'montserrat-bold';
    --montserrat-semi-bold: 'montserrat-semiBold';
    --heading-font: 'azonix';

    --primary-color: #5AB947;
    --secondary-color: #015998;
}

.product-hero-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/product-demo-img.png');
    background-repeat: no-repeat;
    background-size: 100% 180%;
    text-align: center;
    height: 70vh;
}
.product-hero-section h1{
    font-size: 4.4vw;
    color: #fff;
    font-family: var(--heading-font);
}
.product-hero-section p{
    color: #fff;
    font-family: var(--montserrat-medium);
    font-size: 1.2vw;
}
.parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.about-product-left{
    display: flex;
    flex-direction: row;
}
.about-product-left img{
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    height: 28rem;
}
.product-ribbon{
    position: relative;
    background-color: #00f382;
    height: 14rem;
    width: 1.2rem;
}
.about-product{
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 2.2rem 4rem;
    background-color: #001c2f;
}
.about-product .about-inner-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2rem;
}
.about-product-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.about-product-right h2{
    margin-bottom: 1rem;
    font-size: 2.8rem;
    color: #fff;
    font-family: var(--heading-font);
}
.about-product p{
    font-family: var(--montserrat-medium);
    padding: 12px 4px;
    color: #b9b9b9;
    line-height: 28px;
}
.product-page-quote-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 14px 24px;
    background-color: #00f382;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: .3rem;
    border-top-right-radius: .3rem;
    cursor: pointer;
    width: 12rem;
    margin-top: 2rem;
    font-weight: 600;
    color: #fff;
    font-size: 1.2rem;
    box-shadow: rgb(0, 243, 130) 0px 10px 20px -11px;
}

/* --------------------------------------- */

.product-features{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 3rem;
}
.special-head{
    padding: 0 4vw;
    padding-top: 4vw;
}
.special-head p{
    font-weight: 400!important;
}
.product-features .product-feature-head h2{
    font-size: 2.2vw;
    font-family: var(--heading-font);
}
.product-features h3{
    font-family: var(--heading-font);
    font-size: 2rem;
}
.product-features p{
    font-family: var(--montserrat-medium);
    padding: 1rem 0;
    font-size: 1rem;
    color: #001c2fce;
}

.product-feature-main-content {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 12px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-feature-main-content div{
    /* background-color: #b9b9b93a; */
    border-top: 1px solid #001c2f;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 92vw;
    /* border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem; */
    margin: 4px 0;
}
.product-feature-main-content div:last-child{
    border-bottom: 1px solid #001c2f;
}
.product-feature-main-content div p{
    font-size: 16px;
    line-height: 26px;
    text-align: right;
}
.product-feature-main-content div b{
    font-size: 20px;
    color: #001c2f;
}

/* ---------------------------------------- */

.product-snipts-slider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image-slider {
    width: 90%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image-slides {
    display: flex;
    width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.product-image-slide {
    min-width: 100%;
    height: 100%;
}

.product-image-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-image-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
}

.product-image-dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-image-dot.active {
    width: 30px; /* Make the active dot wider */
    background-color: #333;
    border-radius: 8px;
}

/* ---------------------------------------- */

.product-faq-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}
.product-faq-head h2{
    font-family: var(--heading-font);
    font-size: 2.2vw;
}
.faq-container {
    max-width: 88vw;
    margin: 0 auto;
    margin-top: 4rem;
}


/* ------------------------------------------ */

.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    width: 82%;
    background-color: #001c2f;
    background-image: url('../images/contact-card-bg-img.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 16rem;
    border-radius: 10px;
    color: #fff;
    position: relative;
}
.contact-card::before{
    content: '';
    z-index: -1;
    background-color: #00f382;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-2deg);
    border-radius: 10px;
}
.contact-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.contact-card-head h2{
    font-family: var(--heading-font);
    font-size: 1.8vw;
}
.contact-content h4{
    font-family: var(--montserrat-semi-bold);
    font-size: 1vw;
    margin: 12px;
}
.contact-content h4 span{
    background-color: #00f382;
    padding: 4px;
    color: #001c2f;
    font-size: 1vw;
}
.contact-content p{
    font-family: var(--montserrat-medium);
    font-size: 1.2vw;
    color: #d2d0d0;
}
.contact-content div{
    margin: 2rem;
}

/* .product-faq-container {
    width: 100%;
    margin: 3rem 0;
    font-family: var(--montserrat-medium);
}

.product-faq-item {
    margin-bottom: 15px;
}

.product-faq-question {
    width: 100%;
    text-align: left;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background: #f9f9f9;
    border: none;
    border-top: 2px solid #001c2f;
    outline: none;
    transition: background 0.3s ease;
}

.product-faq-question:hover {
    background: #e6e6e6;
}

.product-faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px; 
    font-size: 14px;
    background: #fff;
    border-top: none;
    transition: max-height 0.5s ease, padding 0.5s ease;
}

.product-faq-answer.visible {
    padding: 40px 15px; 
} */
