*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'azonix';
    src: url('../fonts/azonix.otf');
}
@font-face{
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold.ttf');
}
@font-face{
    font-family: 'montserrat-medium';
    src: url('../fonts/montserrat-medium.ttf');
}
@font-face{
    font-family: 'montserrat-semiBold';
    src: url('../fonts/montserrat-semi-bold.ttf');
}
:root{
    --montserrat-medium: 'montserrat-medium';
    --montserrat-bold: 'montserrat-bold';
    --montserrat-semi-bold: 'montserrat-semiBold';
    --heading-font: 'azonix';

    --primary-color: #5AB947;
    --secondary-color: #015998;
}

/* --------------------------------------- */

.project-hero{
    height: 70vh;
    width: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 140%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-position: center;
}
.project-hero-content{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 6rem;
}
.project-hero-content p{
    font-family: var(--montserrat-semi-bold);
    font-size: 20px;
    position: relative;
    padding-left: 2rem;
}
.project-hero-content p::before{
    content: '';
    left: -6rem;
    top: 10px;
    width: 7rem;
    height: 3px;
    background-color: #5ae93d;
    position: absolute;
}
.project-hero-content h1{
    font-family: var(--heading-font);
    padding: 12px 0;
    font-size: 40px;
}

.project-main{
    display: flex;
    flex-direction: row;
    margin: 6rem 10rem;
}
.project-left{
    display: flex;
    flex-direction: column;
}
.project-left .project-media img{
    height: 90%;
    width: 100%;
}
.project-project-header{
    font-family: var(--montserrat-bold);
    margin-top: 2rem;
    font-size: 1.4rem;
}
.about-project-text{
    font-family: var(--montserrat-medium);
    margin-top: 1rem;
    line-height: 26px;
    width: 90%;
    color: #323232;
}
.project-project-checklist li{
    display: flex;
    align-items: center;
    margin: 16px 0;
}
.project-project-checklist i{
    color: #5AB947;
    font-size: 1.6rem;
    margin-right: 10px;
}

.project-right{
    width: 40vw;
}

.project-right-card-one{
    width: 24rem;
    height: auto;
    background-color: #fff;
    border: 1px solid #012d4ca1;
    padding: 2rem;
}
.project-right-card-one h2{
    font-family: var(--heading-font);
    margin-bottom: 1rem;
}
.project-info{
    display: flex;
    flex-direction: column;
}
.project-info div{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    font-family: var(--montserrat-medium);
}
.project-info div p b{
    font-size: 20px;
    color: #000;
}
.project-info div p{
    font-size: 16px;
    margin-top: 1rem;
    color: #323232;
}

.project-right-card-two{
    margin-top: 2rem;
    width: 24rem;
    background-color: #012D4C;
    padding: 2rem;
    color: #fff;
}
.project-right-card-two .project-info div p b{
    font-size: 16px;
    color: #fefcfcdb;
    font-weight: 600;
}
.project-right-card-two .project-info div p{
    font-size: 16px;
    margin-top: 1rem;
    color: #c5c5c5;
    font-weight: 400;
}

/* ---------------------------------------- */

.project-snipts-slider{
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 1.8rem 0;
}
.project-image-slider {
    width: 98%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.project-image-slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.project-image-slide {
    min-width: 100%;
    height: 100%;
}

.project-image-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-image-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
}

.project-image-dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.project-image-dot.active {
    width: 30px; /* Make the active dot wider */
    background-color: #025189;
    border-radius: 8px;
}

/* ---------------------------------------- */

@media(max-width:1300px){
    .project-hero {
        height: 70vh;
        background-size: 160%;
    }
    .project-main{
        margin: 4rem 7rem;
    }
}

@media(max-width:1050px){
    .project-hero {
        height: 70vh;
        background-size: 180%;
    }
    .project-main{
        margin: 2rem 4rem;
    }
}

@media(max-width:700px){
    .project-hero {
        height: 70vh;
        background-size: 300%;
    }
}

@media(max-width:600px){
    .project-hero {
        height: 70vh;
        background-size: 380%;
    }
}

@media(max-width:500px){
    .project-hero {
        height: 70vh;
        background-size: 500%;
    }
}

@media(max-width:350px){
    .project-hero {
        height: 70vh;
        background-size: 600%;
    }
}

@media(max-width:660px){
    .project-hero-content {
        padding: 0 4vw;
    }
    .project-hero-content p {
        font-size: 16px;
        padding-left: 2rem;
    }
    .project-hero-content h1 {
        padding: 12px 0;
        font-size: 28px;
    }
    .project-image-slider {
        width: 100%;
        height: 70vh;
    }
    .project-project-header {
        font-family: var(--montserrat-bold);
        margin-top: 1.4rem;
        font-size: 1.4rem;
    }
    .project-main {
        flex-direction: column;
        margin: 1rem 1rem;
    }
    .project-right-card-one {
        width: 92vw;
        padding: 1.6rem;
        margin-top: 20px;
    }
}


