*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'azonix';
    src: url('../fonts/azonix.otf');
}
@font-face{
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold.ttf');
}
@font-face{
    font-family: 'montserrat-medium';
    src: url('../fonts/montserrat-medium.ttf');
}
@font-face{
    font-family: 'montserrat-semiBold';
    src: url('../fonts/montserrat-semi-bold.ttf');
}
:root{
    --montserrat-medium: 'montserrat-medium';
    --montserrat-bold: 'montserrat-bold';
    --montserrat-semi-bold: 'montserrat-semiBold';
    --heading-font: 'azonix';

    --primary-color: #5AB947;
    --secondary-color: #015998;
}

/* --------------------------------------- */

.project-main{
    display: flex;
    flex-direction: row;
    margin: 2rem 6rem;
}
.project-left{
    width: 60vw;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.project-left .project-media img{
    height: 20rem;
}
.project-project-header{
    font-family: var(--heading-font);
    margin-top: 2rem;
}
.about-project-text{
    font-family: var(--montserrat-medium);
    margin-top: 1rem;
}

.project-right{
    flex: 1;
    width: 40vw;
}


/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */

