*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'azonix';
    src: url('../fonts/azonix.otf');
}
@font-face{
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold.ttf');
}
@font-face{
    font-family: 'montserrat-medium';
    src: url('../fonts/montserrat-medium.ttf');
}
@font-face{
    font-family: 'montserrat-semiBold';
    src: url('../fonts/montserrat-semi-bold.ttf');
}
:root{
    --montserrat-medium: 'montserrat-medium';
    --montserrat-bold: 'montserrat-bold';
    --montserrat-semi-bold: 'montserrat-semiBold';
    --heading-font: 'azonix';

    --primary-color: #5AB947;
    --secondary-color: #015998;
}
body{
    font-family: var(--primary-font);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body {
  --sb-track-color: #ccdeea;
  --sb-thumb-color: #012d4c;
  --sb-size: 6px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

/* ------------------------------------- */

nav {
  position: fixed;
  top: -100px; /* Hidden initially for animation */
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: transform 0.4s ease, top 0.4s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 20px; */
  height: 14vh;
}
.navbar-container {
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}
.navbar-container.scrolled {
    background-color: #fff; /* Change to white */
    border-bottom: 1px solid #0000004c;
}
.navbar-container.scrolled .main-menu-link{
    color: #000;
}
.navbar-container.scrolled .main-menu-link a{
    color: #fff; 
}
nav.show {
  top: 0; /* Bring navbar into view */
  transform: translateY(0);
  transition: all ease-in .4s;
}
nav.hide {
  top: -14vh; 
  transition: all ease-out .4s;
}

.nav-icon-container, .nav-menu-container, .nav-contact-container {
    display: flex;
    align-items: center;
    font-family: var(--montserrat-semi-bold);
}
.nav-contact-container a{
    color: #fff!important;
    padding-right: 2rem;
}

.nav-icon-container i {
    font-size: 1.5rem;
    color: #fff;
    margin-right: 10px;
}

.nav-logo-container{
    /* background-color: #fff; */
    margin-top: -2rem;
    padding-top: 2.6rem;
    padding-top: 3rem;
}
.logo {
    height: 45px;
    margin-top: -14px;
    margin-left: 16px;
    width: auto;
}

#logo {
  /* transition: height 01s ease, filter 0.3s ease; */
}
nav.scrolled #logo {
  height: 80px; /* Smaller size when scrolled */
  margin-left: 0px;
}


.nav-menu-container {
    display: flex;
    gap: 30px;
    list-style: none;
    /* padding: 2.2rem 0; */
}
.nav-menu-container li {
    position: relative;
    height: 10vh;
    margin-top: 3rem;
}

.nav-menu-container a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    transition: all ease-in-out .3s;
    font-family: var(--montserrat-semi-bold);
}
.nav-menu-container .active{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    transition: all ease-in-out .3s;
}
.main-menu-link:after {
    content: '';
    width: 2px;
    height: 4px;
    display: block;
    position: absolute;
    top: 10%;
    right: 0;
    left: auto;
    margin: -10px 0 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: var(--primary-color);
}

.nav-menu-container li:hover .main-menu-link{
    color: var(--primary-color);
}

/* Dropdown styles */
.dropdown {
    position: absolute;
    top: 2.2vw;
    left: 0;
    background-color: #121c22;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-width: 250px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-top: 5px;
    z-index: 100;
}

/* Show dropdown on hover */
.nav-menu-container li:hover .dropdown {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Staggered animation for each link using transition delays */
.dropdown a {
    color: #ddd;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 18px 20px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown a:nth-child(1) { transition-delay: 0.1s; }
.dropdown a:nth-child(2) { transition-delay: 0.2s; }
.dropdown a:nth-child(3) { transition-delay: 0.3s; }
.dropdown a:nth-child(4) { transition-delay: 0.4s; }
.dropdown a:nth-child(5) { transition-delay: 0.5s; }

/* Apply opacity and transform only when dropdown is visible */
.nav-menu-container li:hover .dropdown a {
    opacity: 1;
    transform: translateY(0);
}

.dropdown a:hover {
    color: #fff;
}

/* Image Slider Styles */
.image-slider {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  z-index: 1;
}
.slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 3s ease-in-out;
  transform: scale(1.2); /* Start with zoomed-in */
}

.slider-bg.active {
  opacity: 1;
  transform: scale(1); /* Zoom-out to normal size */
}

.timeline-container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  width: 80%;
}

.timeline {
  flex: 1;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 3px;
  position: relative;
}

.timeline-progress {
  height: 100%;
  width: 0%;
  background: #fff;
  transition: width 3s linear;
}

/* Hero Section - Content Styling */
.hero-content {
  margin-top: 1rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  padding: 50px 20px;
  width: 75%; /* Limit the width of the content */
  text-align: left; /* Align text to the left */
  z-index: 2;
  color: white;
}

.hero-heading {
  font-size: 3.4rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  font-family: var(--heading-font);
}

.hero-paragraph {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 30px;
  font-family: var(--montserrat-medium);
}

.hero-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 14rem;
    height: 3.6rem;
    padding-left: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #fff;
    margin: .8rem 0;
}

.hero-button .explore-btn-text {
    position: relative;
    z-index: 1; 
    color: #fff; 
    transition: color 0.3s ease;
}

.hero-button .explore-btn-arrow {
    background-color: var(--primary-color); 
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    transition: background-color 0.3s ease;
}

/* Arrow icon rotation */
.hero-button img{
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
    color: #fff;
    height: 2rem;
}

.hero-button:hover img {
    transform: rotate(0deg);
}

/* Background fill effect on hover */
.hero-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 0;
    transition: left 0.4s ease;
}

.hero-button:hover::before {
    left: 0;
}

.hero-button:hover .explore-btn-text {
    color: white;
}


.hero-section-colored-div .hero-section-cd-white::before{
    content: '';
    position: absolute;
    height: 5rem;
    width: 5rem;
    background-color: var(--primary-color);
    left: 0px;
    bottom: -45px;
    z-index: 100;
    -webkit-transition: height 0.5s cubic-bezier(0,0,.15,.96);
    transition: height 0.5s cubic-bezier(0,0,.15,.96);
}
.hero-section-colored-div .hero-section-cd-green::before{
    content: '';
    position: absolute;
    height: 5rem;
    width: 5rem;
    left: 5rem;
    background-color: #fff;
    bottom: -45px;
    z-index: 100;
    -webkit-transition: height 0.5s cubic-bezier(0,0,.15,.96);
    transition: height 0.5s cubic-bezier(0,0,.15,.96);
}

/* ----------------------------------------------------------------- */

.special-container{
    height: 110vh;
    background-color: #fff;
    width: 100%;
    padding-top: 3rem;
}
.special-card-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.special-head{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    padding: 4vw 8vw;
}
.special-head span{
    color: var(--secondary-color);
    font-weight: 600;
    color: #7d7c7c;
    font-family: var(--montserrat-medium);
}
.special-head h2{
    font-size: 2vw;
    margin-top: 18px;
    color: #000;
    font-family: var(--heading-font);
}
.special-head p{
    color: #222;
    font-weight: 500;
    font-size: 18px;
    margin-top: 2rem;
    font-family: var(--montserrat-medium);
}
.special-head p:nth-child(1){
    margin-bottom: 2rem;
    font-weight: 700;
}
.special-card-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.special-card-section .special-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 50vh;
    width: 20vw;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 12px;
    /* background-image: url('../images/service-bg-1.png'); */
    /* background: linear-gradient( 45deg,#012D4C , #7bff61); */
    background-color: #CCDEEA;
    background-size: 150%;
    background-repeat: none;
    color: #000;
    position: relative;
}
.special-inner-div img{
    height: 8rem;
    margin-top: -6rem;
    margin-bottom: -4px;
}
.special-card-section .special-card-odd{
    background-color: #BDE3B5;
    /* background-image: url('../images/service-bg-3.png'); */
}
.special-card-section .special-card h4{
    margin-bottom: 3rem;
    font-weight: 400;
}
.special-card-section .special-card h3{
    font-size: 1.4rem;
    margin: 12px 0;
    font-family: var(--montserrat-medium);
}
.special-card-section .special-card p{
    color: #383737;
    font-size: 1rem;
    font-family: var(--montserrat-medium);
}
.special-card-section .special-card h2{
    font-size: 3rem;
    color: #fff;
    /* margin-bottom: -2rem; */
    font-family: var(--montserrat-bold);
}
.special-card-section .special-card .special-card-arrow{
    transform: rotate(-45deg);
    padding: 1.2rem 0;
}

/* ------------------------------------------------------------ */

.about-section{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    height: 100vh;
}
.about-section-left{
    width: 30%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* background-color: #305854; */
}
.about-section-left .stroke-font{
    -webkit-text-stroke-width: 1px;
    letter-spacing: 2px;
    margin: 2rem 0;
    -webkit-text-stroke-color: #015998b0;
}
.about-section-left h3{
    color: #fff;
    font-size: 10vw;
}
.about-section-left h4{
    font-size: 1.2vw;
}
.about-section-right{
    width: 55%;
    padding: 4rem 0;
}
.about-section-right span{
    color: var(--secondary-color);
    font-size: 18px;
}
.about-section-right h2{
    font-size: 2.8vw;
    color: #17262F;
    margin-bottom: 1rem;
}
.about-section-right p{
    margin-bottom: 2rem;
    width: 90%;
    font-size: 1.1vw;
    line-height: 24px;
    color: #60676B;
    line-height: 35px;
}
.about-section-right p b{
    color: #17262F;
}

/* ------------------------------------------------------------ */

.what-we-do-section{
    display: flex;
    flex-direction: row;
    background:linear-gradient(45deg,#012D4C,#CCDEEA);
    padding: 6rem 0;
    padding-bottom: 0rem;
    height: 90vh;
}
.what-we-do-left{
    padding: 1rem 7.4rem;
    padding-bottom: 0;
    position: relative;
}
/* .what-we-do-left::before{
    content: '';
    background-image: url('../images/leaves_stroke.svg');
    height: 30rem;
    width: 40rem;
    position: absolute;
    left: -13rem;
    bottom: -18rem;
    z-index: 10;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    filter: blur(0px);
    filter:contrast()(10%);
} */
.what-we-do-left span{
    color: var(--secondary-color);
    color: #e1e1e1;
    font-size: 18px;
    font-family: var(--montserrat-semi-bold);
}
.what-we-do-left h2{
    font-size: 2vw;
    line-height: 40px;
    color: #fff;
    z-index: 20;
    font-family: var(--heading-font);
    margin-top: 1.6rem;
    z-index: 100;
    position: relative;
}
.what-we-do-left h2::after{
    content: '';
    background-color: #8bcfff1f;
    height: 3.4rem;
    width: 3.4rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: absolute;
    left: -10px;
    top: -14px;
    z-index: -1;
}

.what-we-do-left p{
    color: #eeeeee;
    margin: 2rem 0;
    width: 75%;
    font-size: 1.1vw;
    line-height: 24px;
    font-family: var(--montserrat-medium);
}
.what-we-do-left h5{
    color: #e2e1e1;
    font-size: 1vw;
    font-weight: 400;
    padding: 1rem 0;
    font-family: var(--montserrat-medium);
}
.what-we-do-left i{
    color: var(--sb-thumb-color);
    color: #e3e3e3;
}
.what-we-do-left .explore-btn{
    margin-top: 2rem;
}
.stroke-font{
    font-size: 6vw;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 2px;
    margin: 2rem 0;
    -webkit-text-stroke-color: #012D4C;
    font-family: "Manrope Alt", Sans-serif;
}

.what-we-do-right{
    position: relative;
    display: inline-block;
}
.what-we-do-right::after{
    content: '';
    background-image: url('../images/leaves_stroke_white.svg');
    height: 30rem;
    width: 30rem;
    position: absolute;
    bottom: 0;
    z-index: 0;
    /* right: -12rem; */
    right: 0;
    background-repeat: no-repeat;
    /* transform: rotate(-90deg); */
    filter: blur(3px);
}
.what-we-do-right img{
    height: 50vw;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.what-we-do-play-div{
    position: absolute;
    bottom: 0rem;
    left: 0; 
    background-color: #CCDEEA;
    color: #000;
    padding: 10px;
    font-size: 2rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    cursor: pointer;
    transition: all ease-in-out .4s;
}
.what-we-do-blank-div:hover i{
    transition: all ease-in-out .4s;
    color: var(--primary-color);
}
.what-we-do-arrow-div{
    position: absolute;
    bottom: 0; 
    right: 0; 
    color: white;
    padding: 10px;
    font-size: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: rotate(45deg);
}

/* ------------------------------------ */

.about-section-left{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-section-left img:nth-child(1){
    border-top-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
    margin: 10px;
    width: 14vw;
    height: 14vw;
}
.about-section-left img:nth-child(2){
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    height: 14vw;
    width: 14vw;    
    margin-top: 10px;
}
.about-section-left img:nth-child(3){
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    height: 14vw;
    width: 14vw;
    margin-left: 10px;
}
.about-section-left img:nth-child(4){
    border-top-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
    height: 14vw;
    width: 14vw;
}

/* ------------------------------------ */

.what-we-do-left .button-style-two{
    margin-top: 2rem;
}
.button-style-two{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 14px 20px;
    background-color: #18A7B8;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: .3rem;
    border-top-right-radius: .3rem;
    cursor: pointer;
    box-shadow: rgba(24, 167, 184, 0.2) 0px 8px 24px;
    box-shadow: rgba(24, 167, 184, 0.2) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-shadow: rgb(24, 167, 184) 0px 10px 20px -11px;
}
.button-style-two span{
    color: #fff;
    font-size: 16px;
}
.button-style-two i{
    font-size: 1.2rem;
    color: #fff;
    margin-left: 2px;
}

/* ----------------------------------------------- */

.product-section{
    height: 110vh;
    display: flex;
    flex-direction: column;
    background-color: #0e161b;
    position: relative;
}
.product-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 4vw 8vw;
    position: relative;
}
.product-head span{
    font-weight: 100;
    color: #e1e1e1;
    font-size: 18px;
    font-family: var(--montserrat-semi-bold);
}
.product-head h2{
    margin-top: 18px;
    margin-bottom: 1rem;
    color: #fff;
    font-family: var(--heading-font);
    font-size: 2vw;
    z-index: 100;
    position: relative;
    line-height: 40px;
    margin-top: 1.6rem;
}
.product-head h2::after{
    content: '';
    background-color: #cccccc2c;
    height: 3.4rem;
    width: 3.4rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: absolute;
    left: -10px;
    top: -14px;
    z-index: -1;
}
.product-head div a{
    color: #fff;
    margin-top: 1rem;
}
.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
}
.card-section {
    display: flex;
    width: 84%;
    height: 60vh;
}
.card {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    background-color: #333;
    transition: flex 0.3s ease;
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: .8rem;
    position: relative;
    background-size: auto;
}
.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%; /* Adjust for how much of the image you want the effect */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    pointer-events: none;
    border-radius: .8rem;
}
.product-card-content {
    width: 90%;
}
.product-card-content h3{
    font-size: 1.6rem;
    font-family: var(--heading-font);
    color: #fff;
}
.product-card-content p{
    font-size: 1rem;
    margin-top: 4px;
    font-family: var(--montserrat-medium);
}
.card-explore-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    padding-left: 22px;
    padding-right: 18px;
    font-family: var(--montserrat-medium);
    
    background: rgba(255, 255, 255, 0.011);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    margin: 1rem;
    z-index: 10;
    font-size: 1.2rem;
}
.card-explore-btn i{

}

.card#card1 {
    background-color: #FF6347;
    flex: 1.6;
    background-image: url('https://www.mangals.com/wp-content/uploads/2024/06/CRGO-Core-Coil-Assembly_1-1.jpg');
}

.card#card2 {
    background-color: #4682B4;
    background-image: url('https://www.mangals.com/wp-content/uploads/2024/06/Amorphous-Core_1.jpg');
}

.card#card3 {
    background-color: #32CD32;
    background-image: url('https://www.mangals.com/wp-content/uploads/2024/07/mother-coil_product-image.jpg');
}

.card#card4 {
    background-color: #FFD700;
    background-image: url('https://www.mangals.com/wp-content/uploads/2024/07/CRGO-Core-Assembly_1-1.jpg');
}

/* Hover effect to expand hovered card and shrink others */
.card:hover {
    flex: 2;
}

.card:not(:hover) {
    flex: 1;
}

/* When any other card is hovered, shrink the first card */
.card-section.hovered #card1 {
    flex: 1 !important;
}

/* ----------------------------------------------- */

.project-section{
    background-color: #4b5f6b10;
    padding-bottom: 2rem;
}
.project-head span{
    color: #000;
}
.project-head h2{
    color: #000;
}
.project-head p{
    color: #000;
}

.project-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 0 8rem; */
}
.project-card {
    margin: 12px;
}

.project-card {
    position: relative;
    width: 26vw;
    height: 68vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all ease-in-out .3s;
    cursor: pointer;
    border-top-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}
.project-card:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all ease-in-out .2s;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card-content {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 64%;
    padding-top: 1rem;
    background: #0000009f;
    color: #fff;
    padding: 20px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    transition: bottom 0.5s ease-in-out; /* Smooth transition */
}

.project-card:hover .project-card-content {
    bottom: 0; /* Slides up to cover 70% */
}

.project-card-content h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: var(--heading-font);
}

.project-card-content p {
    font-size: .9em;
    margin-top: .4rem;
    line-height: 1.5;
    font-family: var(--montserrat-medium);
}
.project-card-content button{
    width: 80%;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 2rem;
    margin-top: 1rem;
    background-color: #fff;
    border: none;
    color: #000;
    cursor: pointer;
}

/* ----------------------------------------------- */

.services-head span{
    color: #000;
}
.services-head h2{
    color: #000;
}
.services-head p{
    color: #000;
}

.services-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}
.service-card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    width: 86%;
    border-top: 1px solid #666;
    padding: 1rem 2rem;
    transition: all ease-in-out .3s;
    cursor: pointer;
}
.service-card:nth-last-child(1){
    border-bottom: 1px solid #666;
}
.service-card div{
    display: flex;
    transition: all ease-in-out .3s;
    flex-direction: row;
    align-items: center;
}
.service-card div h2{
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: #000;
}
.service-card div h3{
    font-size: 1.4rem;
    font-weight: 300;
    color: #000;
}
.service-card img{
    transition: all ease-in-out .3s;
    background-color: #cccccc18;
    padding: 12px;
    border-radius: 50%;
}
.service-card:hover{
    background-color: #a7a7a712;
}
/* .service-card:hover h2{
    color: #fff;
}
.service-card:hover h3{
    color: #fff;
} */
.service-card:hover img{
    transform: rotate(125deg);
    transition: all ease-in-out .3s;
    background-color: #fff;
}

.service-card-visible{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.service-card {
   
    padding: 1rem 1.5rem;
    background-color: #fff;
    color: #fff;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    height: 100px; /* Default height */
  }
  .service-card .service-description {
    margin-top: 1rem;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    color: #000;
  }

  .service-card.expanded {
    height: 200px; /* Adjust expanded height as needed */
  }

  .service-card.expanded .service-description {
    opacity: 1;
    visibility: visible;
    max-height: 100px;
  }


/* -------------------------------------------- */

.steps-heading{
    position: sticky;
    top: 14px;
    margin-left: 1rem;
    padding: 2.2vw;
    font-family: var(--heading-font);
}

.steps-section{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 4rem!important;
    width: 100%;
    padding-left: 1rem;
    padding: 4rem;
}
.steps-section span{
    font-weight: 100;
    color: #3a3a3a;
    font-size: 18px;
    font-family: var(--montserrat-semi-bold);
}

@media(max-width:500px){
    /* ----------------------------- */
    .steps-section{
        flex-direction: column!important;
    }
    .card-container-2 .stack-card {
        margin: 14px 0;
        height: 300px;
        width: 260px;
        background-color: #1C2531;
        margin-top: 30px;
        position: sticky;
        top: 280px;
        border-radius: 2px;
    }
    .contact-section{
        margin-top: 4rem;
    }
}
.steps-heading h1 {
    width: auto;
    font-size: 2vw;
    padding: 14px 0;
}
.steps-heading p{
    font-size: 1vw;
    font-family: var(--montserrat-medium);
}
.steps-section{
    margin-top: 2rem;
    padding-top: 2rem;
    height: 300vh;
}
.card-stack-section{
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 230px;
    margin-left: 12rem;
}
.card-stack-left{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.card-stack-left span{
    color: var(--span-color);
    text-transform: uppercase;
    font-size: 16px;
}
.card-stack-left h2{
    font-size: 40px;
}

.card-container-2 .stack-card{
    margin: 14px 0;
    height: 34vw;
    width: 34vw;
    background-color: #fff;
    /* background: linear-gradient(#181818,#00f382 ); */
    margin-top: 30px;
    position: sticky;
    top: 90px;
    border-radius: 2px;
    border: 1px solid #999;
    color: #000;

    display: flex;
    flex-direction: column;
    align-items: start;
}
/* .card-container .card-1{
    position: sticky;
    top: 2rem;
} */

.card-container-2 .card-1{
    z-index: 1;
}
.card-container-2 .card-2{
    z-index: 2;
}
.card-container-2 .card-3{
    z-index: 3;
}
.card-container-2 .card-4{
    z-index: 4;
}
.card-container-2 .card-5{
    z-index: 5;
}

.work-heading{
    width: 50%;
    padding: 1rem;
}
.work-heading h1{
    font-size: 4.5rem;
    color: #fff;
}
.work-heading h1 span{
    color: #00f382;
}
.steps-heading h1 p{
    font-size: 1vw;
    color: #333;
    margin-top: 1.2rem;
    letter-spacing: 2px;
    width: 100%;
}


@media(max-width:1440px){
    /* .card-container .stack-card{
        margin: 14px 0;
        margin-right: 2rem;
        height: 540px;
        width: 460px;
    } */
    /* .work-heading h1 {
        font-size: 3.6rem;
    } */
    /* .steps-heading h1 p{
        font-size: 1rem;
    } */
    .heading-style-display {
        font-size: 5.6em;
    }
    .steps-section{
        margin-top: 2rem;
        padding-top: 2rem;
        height: 290vh;
    }
}
@media(max-width:1300px){
    .steps-section{
        margin-top: 2rem;
        padding-top: 2rem;
        height: 250vh;
    }
}
@media(max-width:1050px){
    .heading-style-display {
        font-size: 5em;
    }
}

@media(max-width:796px){
    .work-heading {
        width: 90%;
        padding: 1rem;
    }
    .work-heading h1{
        font-size: 1.2rem;
    }
    .steps-heading h1 p{
        margin-top: 1rem;
        font-size: 1rem;
    }

    /* .card-container .stack-card{
        margin: 14px 0;
        margin-right: 2rem;
        height: 200px;
        width: 260px;
    } */
    .card-container-2 .stack-card{
        margin: 14px 0;
        height: 450px;
        width: 360px;
    }
    .card-stack-section {
        padding-bottom: 10px;
    }
    .card-stack-section {
        flex-direction: column;
        margin-left: 1rem;
    }
    .steps-section {
        height: 280vh;
    }
    .heading-style-display {
        font-size: 11vw;
    }
}
@media(max-width:660px){

    .card-container-2 .stack-card{
        margin: 14px 0;
        margin-right: 2rem;
        height: 460px;
        width: 90vw;
    }
    .steps-section {
        height: 295vh;
        margin-bottom: 36rem!important;
    }
    .steps-heading{
        margin-left: 0;
    }
    .steps-heading h1 p{
        font-size: 3.2vw!important;
        display: block;
        width: 100%;
    }
    .card-container-2 .stack-card {
        top: 265px!important;
    }
    .card-container-2 .stack-card{
        margin: 14px 0;
        height: 450px;
        width: 85vw;
    }
    /* .steps-section{
        width: 70vw;
    } */
    .who_section{
        margin-bottom: 0;
    }
}

.text-field w-input{
    color: #000!important;
}

.card-container-2 .stack-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 2rem;

    /* border-width: 5px 3px 3px 5px;
    border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg); */
}
.card-container-2 .stack-card h2{
    font-size: 4.4rem;
    font-family: var(--heading-font);
}
.card-container-2 .stack-card h3{
    font-size: 2rem;
    margin-bottom: 16px;
    font-family: var(--heading-font);
}
.card-container-2 .stack-card p{
    font-size: 1.1vw;
    font-family: var(--montserrat-medium);
}

.card-container-2-2 .stack-card img{
    height: 6vw;
    margin-bottom:1rem;
}
.card-container-2-2 .stack-card h3,.card-container-2-2 .stack-card h4{
    margin-bottom: 1rem;
    color: #fff;
}

.card-container-2-2 .stack-card p{
    font-size: 1.2vw;
}

.card-4 .card-box img{
    height: 4.5rem;
}
.card-box div{
    margin: 1rem 0;
}
.card-box div h5{
    color: #fff;
}


@media(max-width:540px){
    .card-container-2 .stack-card img{
        height: 4rem;
    }
    .card-container-2 .stack-card h3,.card-container-2 .stack-card h4{
        margin-bottom: .6rem;
    }

    .card-container-2 .stack-card img{
        height: 5rem;
    }
    .card-container-2 .stack-card h3,.card-container-2 .stack-card h4{
        margin-bottom: 1rem;
        color: #fff;
        font-size: 1.6rem;
    }

    .card-container-2 .stack-card p{
        font-size: .8rem;
    }

    .card-4 .card-box img{
        height: 4.5rem;
    }
    .card-box div{
        margin: 1rem 0;
    }
    .card-box div h5{
        color: #fff;
    }
    .card-container-2 .stack-card{
        padding: 1.8rem .8rem;
    }
}

/* ------------------------------------------------- */

.bts-section {
    background-color: #121C22;
    padding-top: 2rem;
    margin-top: 2rem;
    height: 150vh;
}
.bts-section .bts-head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    z-index: 100;
}
.bts-section h2{
    font-size: 2.2vw;
    color: #fff!important;
}
.bts-section p{
    font-size: 1vw;
    color: #b4b4b4!important;
}
.bts-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bts-container video{
    width: 86%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/* ------------------------------------------------- */

.testimonial-head span{
    color: #000;
}
.testimonial-head h2{
    color: #000;
}
.testimonial-head p{
    color: #000;
}

.testimonial-section-container{
    background-color: #f4f5f689;
    margin: 3rem 0;
}
.testimonial-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial-section {
  width: 86%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.testimonial-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* For Firefox */
  width: 100%;
  padding: 1rem 0;
}

.testimonial-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.testimonial-card {
  flex: 0 0 calc(33.333% - 1rem); /* 3 cards visible at a time */
  background: #f9f9f9;
  border-radius: 10px;
  margin: 2px;
  height: 40vh;
  padding: 1rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.scroll-btn {
  background: #012D4C;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  padding: 1.2rem;
  height: 2.8rem;
  width: 2.8rem;
  cursor: pointer;
  font-size: 1.4rem;
  transition: all ease-in-out .2s;
}
.scroll-btn:hover{
  background: #00f382;
  transition: all ease-in-out .2s;
}
.progress-bar-container {
  flex: 1;
  height: 3px;
  background: #012D4C;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}
.progress-bar {
  height: 100%;
  width: 0;
  background: #00f382;
  border-radius: 2px;
  transition: width 0.3s ease;
}
  
/* ---------------------------------------------------------- */

.quality-approval-section{
    height: 80vh;
}
.scroll-container {
  position: relative;
  width: 100%;
  max-width: 80%;
  height: 250px;
  margin: 20px auto;
  overflow: hidden;
}
.scroll-content {
  display: flex;
  width: max-content;
  animation: scroll 34s linear infinite;
}
.scroll-item {
  flex: 0 0 auto;
  width: 300px;
  height: 250px;
  margin: 0 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.fade-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  pointer-events: none;
  z-index: 10;
}
.fade-left {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.fade-right {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

/* ---------------------------------------------------------- */

.faq-section{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.faq-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 2rem;
    padding-left: 1rem;
}
.faq-right span{
    font-family: var(--montserrat-medium);
    font-size: 1.2rem;
}
.faq-right h2{
    font-size: 2.2vw;
    font-family: var(--heading-font);
    margin-top: 14px;
}
.faq-container {
  max-width: 670px;
  margin: 0 auto;
  margin-top: 2rem;
}
.faq {
    border-top: 1px solid #000;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.faq:nth-last-child(1){
    border-bottom: 1px solid #000;
}
.faq-question {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px;
    /* background-color: #f7f7f7; */
    cursor: pointer;
    font-weight: bold;
    position: relative;
    font-size: 1.2rem;
    font-family: var(--montserrat-medium);
}
.faq-question i{
    font-size: 2rem;
    color: #999;
}
.faq-question:hover {
  background-color: #ccdeea53;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  background-color: #fff;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  color: #62696D;
  font-size: 1rem;
  font-family: var(--montserrat-medium);
}
.faq.open .faq-answer {
  max-height: 150px; /* Adjust for longest answer */
  padding: 20px 15px;
}
.arrow {
  margin-right: .8rem;
  transition: transform 0.3s ease-out;
}
.faq.open .arrow {
  transform: rotate(45deg); /* Rotate arrow to point down */
}

/* ------------------------------------------------- */

.above-footer-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.above-footer-heading h1{
    font-size: 20vw;
    margin: 2rem;
}



/* ------------------------------------------------- */

.footer-top{
    background-color: #CCDEEA;
    margin-top: 4rem;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.footer-top h2{
    font-size: 1.4vw;
    font-family: var(--montserrat-medium);
}
.footer-top button{
    font-family: var(--montserrat-semi-bold);
}

footer{
    background-color: #121C22;
    font-family: var(--montserrat-medium);
}
footer .footer-section-one{
    height: 100vh;
    background-image: url('../images/map-bg.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding: 4rem 0;
}
.footer-section-one-left{
    color: #fff;
}
.footer-section-one-left h2{
    font-size: 2.6vw;
}
.footer-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-contact div{
    padding: 2rem 0;
}
.footer-contact div h4{
    font-weight: 600;
}
.footer-contact div p{
    font-weight: 200;
    padding: 6px 0;
}
.footer-section-one .stroke-font {
    font-size: 6vw;
    color: #121C22;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 2px;
    margin: 2rem 0;
    -webkit-text-stroke-color: #00f38258;
}

.contact-section {
    background: #ffffff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 640px;
    text-align: start;
    padding: 4rem;
}
.contact-header h2 {
    margin: 0;
    font-size: 2.6rem;
    color: #333;
}
.contact-header p {
    margin: 0.5rem 0 1.5rem;
    font-size: 1.1rem;
    color: #666;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.contact-form button {
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    background: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

footer .footer-map{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer iframe{
    width: 86%;
    height: 36vh;
    margin-bottom: 2rem;
}

.footer-section {
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #00f382;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #d8d6d6;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #00f382;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #00f382;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #00f382;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #00f382;
    padding: 13px 20px;
    border: 1px solid #00f382;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #18242c;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #00f382;
}
.footer-menu li {
  display: inline-block;
  text-align: center;
}
.footer-menu ul{
    text-align: center;
}
.footer-menu li:hover a{
  color: #00f382;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.footer-section-two{
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 4rem 6rem;
}


