*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'azonix';
    src: url('../fonts/azonix.otf');
}
@font-face{
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold.ttf');
}
@font-face{
    font-family: 'montserrat-medium';
    src: url('../fonts/montserrat-medium.ttf');
}
@font-face{
    font-family: 'montserrat-semiBold';
    src: url('../fonts/montserrat-semi-bold.ttf');
}
:root{
    --montserrat-medium: 'montserrat-medium';
    --montserrat-bold: 'montserrat-bold';
    --montserrat-semi-bold: 'montserrat-semiBold';
    --heading-font: 'azonix';

    --primary-color: #5AB947;
    --secondary-color: #015998;
}

body{
    font-family: var(--primary-font);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body {
  --sb-track-color: #ccdeea;
  --sb-thumb-color: #012d4c;
  --sb-size: 6px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

/* .preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loading-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}
.leaf {
  position: absolute;
  width: 30px;
  height: 60px;
  background-color: #4caf50;
  border-radius: 50%;
  transform-origin: bottom center;
  animation: spin 1.5s linear infinite;
}
.leaf:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: 0s;
}
.leaf:nth-child(2) {
  transform: rotate(90deg);
  animation-delay: 0.25s;
}
.leaf:nth-child(3) {
  transform: rotate(180deg);
  animation-delay: 0.5s;
}
.leaf:nth-child(4) {
  transform: rotate(270deg);
  animation-delay: 0.75s;
}

@keyframes spin {
  0% {
    transform: scale(1) rotate(var(--rotation));
  }
  50% {
    transform: scale(1.3) rotate(var(--rotation));
  }
  100% {
    transform: scale(1) rotate(var(--rotation));
  }
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
} */

/* ------------------------------------- */

nav {
  position: fixed;
  top: -100px; /* Hidden initially for animation */
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: transform 0.4s ease, top 0.4s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 15px 20px; */
  height: 14vh;
}
.navbar-container {
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}
.navbar-container.scrolled {
    background-color: #fff; /* Change to white */
    border-bottom: 1px solid #0000004c;
}
.navbar-container.scrolled .main-menu-link{
    color: #000;
}
.navbar-container.scrolled .main-menu-link a{
    color: #fff; 
}
nav.show {
  top: 0; /* Bring navbar into view */
  transform: translateY(0);
  transition: all ease-in .4s;
}
nav.hide {
  top: -14vh; 
  transition: all ease-out .4s;
}

.nav-icon-container, .nav-menu-container, .nav-contact-container {
    display: flex;
    align-items: center;
    font-family: var(--montserrat-semi-bold);
}
.nav-contact-container a{
    color: #fff;
    padding-right: 2rem;
}

.nav-icon-container i {
    font-size: 1.5rem;
    color: #fff;
    margin-right: 10px;
}

.nav-logo-container{
    /* background-color: #fff; */
    margin-top: -2rem;
    padding-top: 2.6rem;
    padding-top: 3rem;
}
.logo {
    height: 45px;
    margin-top: -14px;
    margin-left: 16px;
    width: auto;
}

#logo {
  /* transition: height 01s ease, filter 0.3s ease; */
}
nav.scrolled #logo {
  height: 80px; /* Smaller size when scrolled */
  margin-left: 0px;
}


.nav-menu-container {
    display: flex;
    gap: 30px;
    list-style: none;
    /* padding: 2.2rem 0; */
}
.nav-menu-container li {
    position: relative;
    height: 10vh;
    margin-top: 3rem;
}

.nav-menu-container a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    transition: all ease-in-out .3s;
    font-family: var(--montserrat-semi-bold);
}
.nav-menu-container .active{
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    transition: all ease-in-out .3s;
}
.main-menu-link:after {
    content: '';
    width: 2px;
    height: 4px;
    display: block;
    position: absolute;
    top: 10%;
    right: 0;
    left: auto;
    margin: -10px 0 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: var(--primary-color);
}

.nav-menu-container li:hover .main-menu-link{
    color: var(--primary-color);
}

/* Dropdown styles */
.dropdown {
    position: absolute;
    top: 2.2vw;
    left: 0;
    background-color: #121c22;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    min-width: 250px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-top: 5px;
    z-index: 100;
}

/* Show dropdown on hover */
.nav-menu-container li:hover .dropdown {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Staggered animation for each link using transition delays */
.dropdown a {
    color: #ddd;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 18px 20px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown a:nth-child(1) { transition-delay: 0.1s; }
.dropdown a:nth-child(2) { transition-delay: 0.15s; }
.dropdown a:nth-child(3) { transition-delay: 0.2s; }
.dropdown a:nth-child(4) { transition-delay: 0.25s; }
.dropdown a:nth-child(5) { transition-delay: 0.3s; }
.dropdown a:nth-child(6) { transition-delay: 0.35s; }
.dropdown a:nth-child(7) { transition-delay: 0.4s; }
.dropdown a:nth-child(8) { transition-delay: 0.45s; }

/* Apply opacity and transform only when dropdown is visible */
.nav-menu-container li:hover .dropdown a {
    opacity: 1;
    transform: translateY(0);
}

.dropdown a {
    transition: all ease-in-out .3;
}
.dropdown a:hover {
    color: #00f382;
    transition: all ease-in-out .3;
}

.image-slider {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  z-index: 1;
}
.slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 3s ease-in-out;
  transform: scale(1.2); /* Start with zoomed-in */
}
.slider-bg.active {
  opacity: 1;
  transform: scale(1); /* Zoom-out to normal size */
}
.slider-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.content-item {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.content-item{
  margin-top: 1rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  padding: 50px 20px;
  width: 80vw;
  text-align: left; 
  z-index: 2;
  color: white;
}
.content-item.active {
  display: block;
  opacity: 1;
}
.slide-heading {
  font-size: 3.4rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  font-family: var(--heading-font);
}
.slide-paragraph {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 30px;
  font-family: var(--montserrat-medium);
}
.slide-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 12rem;
  border-top-left-radius: 1.6rem!important;
  border-bottom-right-radius: 1.6rem!important;
}
.slide-button:hover {
  background-color: #ddd;
}
.timeline-container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  width: 80%;
}
.timeline {
  flex: 1;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 3px;
  position: relative;
}
.timeline-progress {
  height: 100%;
  width: 0%;
  background: #fff;
  transition: width 3s linear;
}
  

/* Hero Section - Content Styling */
.hero-content {
  margin-top: 1rem;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  padding: 50px 20px;
  width: 75%; /* Limit the width of the content */
  text-align: left; /* Align text to the left */
  z-index: 2;
  color: white;
}

.hero-heading {
  font-size: 3.4rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  font-family: var(--heading-font);
}

.hero-paragraph {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 30px;
  font-family: var(--montserrat-medium);
}

.hero-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 14rem;
    height: 3.6rem;
    padding-left: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #fff;
    margin: .8rem 0;
}

.hero-button .explore-btn-text {
    position: relative;
    z-index: 1; 
    color: #fff; 
    transition: color 0.3s ease;
}

.hero-button .explore-btn-arrow {
    background-color: var(--primary-color); 
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    transition: background-color 0.3s ease;
}

/* Arrow icon rotation */
.hero-button img{
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
    color: #fff;
    height: 2rem;
}

.hero-button:hover img {
    transform: rotate(0deg);
}

/* Background fill effect on hover */
.hero-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 0;
    transition: left 0.4s ease;
}

.hero-button:hover::before {
    left: 0;
}

.hero-button:hover .explore-btn-text {
    color: white;
}


.hero-section-colored-div .hero-section-cd-white::before{
    content: '';
    position: absolute;
    height: 5rem;
    width: 5rem;
    background-color: var(--primary-color);
    left: 0px;
    bottom: -45px;
    z-index: 100;
    -webkit-transition: height 0.5s cubic-bezier(0,0,.15,.96);
    transition: height 0.5s cubic-bezier(0,0,.15,.96);
}
.hero-section-colored-div .hero-section-cd-green::before{
    content: '';
    position: absolute;
    height: 5rem;
    width: 5rem;
    left: 5rem;
    background-color: #fff;
    bottom: -45px;
    z-index: 100;
    -webkit-transition: height 0.5s cubic-bezier(0,0,.15,.96);
    transition: height 0.5s cubic-bezier(0,0,.15,.96);
}

.slider-content .button-style-two{
    padding: 16px 20px!important;
    background: linear-gradient(155deg,#015998,#5AB947);
    box-shadow: rgb(24, 167, 184) 0px 10px 20px -11px;
    box-shadow: none;
    color: #fff;
    font-weight: 500;
    font-family: var(--heading-font);
    font-size: 14px;
}
.button-style-two span{
    color: #444;
    font-size: 16px;
}
.button-style-two i{
    font-size: 1.2rem;
    color: #444;
    margin-left: 2px;
}

/* ------------------ Certification Section ------------------------ */

.special-container{
    height: 110vh;
    background-color: #fff;
    width: 100%;
    padding-top: 3rem;
}
.special-card-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.special-head{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    padding: 4vw 8vw;
    position: relative;
}
.special-head span{
    color: var(--secondary-color);
    font-weight: 600;
    color: #7d7c7c;
    font-family: var(--montserrat-medium);
}
.special-head h2{
    font-size: 2vw;
    margin-top: 18px;
    color: #000;
    font-family: var(--heading-font);
    position: relative;
    z-index: 2;
}
.special-head h2::after{
    content: '';
    background-color: #ccdeea90;
    height: 3.4rem;
    width: 3.4rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: absolute;
    left: -10px;
    top: -18px;
    z-index: -1;
}
.special-head p{
    color: #222;
    font-weight: 500;
    font-size: 18px;
    margin-top: 2rem;
    font-family: var(--montserrat-medium);
}
.special-head p:nth-child(1){
    margin-bottom: 2rem;
    font-weight: 700;
}
.special-card-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.special-card-section .special-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 50vh;
    width: 20vw;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 12px;
    /* background-image: url('../images/service-bg-1.png'); */
    /* background: linear-gradient( 45deg,#012D4C , #7bff61); */
    background-color: #CCDEEA;
    background-size: 150%;
    background-repeat: none;
    color: #000;
    position: relative;
    cursor: pointer;
    transition: all ease-out .3s;
}
.special-card-section .special-card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.info-icon{
    position: absolute;
    right: 10px;
    top: 0px;
    padding: 6px 6px;
    font-size: 20px;
    color: #000;
    border-bottom-left-radius: 10px;
    background-color: #ffffff;
}

/* .certificate-container{
    position: relative;
}
.quality-assurance{
    height: 90vh;
    width: 80vw;
    position: absolute;
    left: 50%;
    top: 28rem;
    transform: translate(-50%, -50%);
    background-color: #CCDEEA;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    display: none;
} */

/* .card {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
} */

/* Popup containers */
.certificate-head{
    padding: 2vw 3vw;
}
.popup-container{
    position: relative;
}
.popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 90vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 2px solid #b5b4b4;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1000;
    display: none;

    /* background: rgba(255, 255, 255, 0.127);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
.popup p{
    font-weight: 200!important;
}
/* Show popup */
.popup.show {
    display: block;
    top: 50px;
    opacity: 1;
}
/* Popup content */
.popup-content {
    position: relative;
}
/* Close button */
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    color: #000;
    font-weight: bold;
    z-index: 100;
    transition: all ease-in-out .3s;
}
.popup-close:hover{
    transform: rotate(180deg);
}
.certificate-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.special-card-section .special-card:hover .certificate-btn{
    display: block;
}
.special-inner-div img{
    height: 8rem;
    margin-top: -6rem;
    margin-bottom: -4px;
}
.special-card-section .special-card-odd{
    background-color: #BDE3B5;
    /* background-image: url('../images/service-bg-3.png'); */
}
.special-card-section .special-card h4{
    margin-bottom: 3rem;
    font-weight: 400;
}
.special-card-section .special-card h3{
    font-size: 1.4rem;
    margin: 12px 0;
    font-family: var(--montserrat-medium);
}
.special-card-section .special-card p{
    color: #383737;
    font-size: 1rem;
    font-family: var(--montserrat-medium);
}
.special-card-section .special-card h2{
    font-size: 3rem;
    color: #fff;
    /* margin-bottom: -2rem; */
    font-family: var(--montserrat-bold);
}
.special-card-section .special-card .special-card-arrow{
    transform: rotate(-45deg);
    padding: 1.2rem 0;
}

/* -------------------- About Section -------------------------- */

.about-section{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    height: 100vh;
}
.about-section-left{
    width: 30%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* background-color: #305854; */
}
.about-section-left .stroke-font{
    -webkit-text-stroke-width: 1px;
    letter-spacing: 2px;
    margin: 2rem 0;
    -webkit-text-stroke-color: #015998b0;
}
.about-section-left h3{
    color: #fff;
    font-size: 10vw;
}
.about-section-left h4{
    font-size: 1.2vw;
}
.about-section-right{
    width: 55%;
    padding: 4rem 0;
}
.about-section-right span{
    color: var(--secondary-color);
    font-size: 18px;
    font-family: var(--montserrat-medium);
}
.about-section-right h2{
    font-size: 2.2vw;
    color: #17262F;
    margin-bottom: 1rem;
    font-family: var(--heading-font);
}
.about-section-right p{
    margin-bottom: 2rem;
    width: 90%;
    font-size: 1vw;
    line-height: 24px;
    color: #60676B;
    font-family: var(--montserrat-medium);
    line-height: 35px;
}
.about-section-right p b{
    color: #17262F;
}

.about-section-left{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-section-left img:nth-child(1){
    border-top-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
    margin: 10px;
    width: 14vw;
    height: 14vw;
}
.about-section-left img:nth-child(2){
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    height: 14vw;
    width: 14vw;    
    margin-top: 10px;
}
.about-section-left img:nth-child(3){
    border-top-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    height: 14vw;
    width: 14vw;
    margin-left: 10px;
}
.about-section-left img:nth-child(4){
    border-top-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
    height: 14vw;
    width: 14vw;
}


.what-we-do-leaf-one{
    display: block;
    transform-origin: bottom right; 
}
.what-we-do-leaf-one.in-view{
    animation: rotate1 .3s ease-out;
}
@keyframes rotate1 {
    from {
        transform: rotate(-50deg);
    }
    to {
        transform: rotate(0deg);
    }
}


.what-we-do-leaf-two{
    display: block;
    transform-origin: bottom left; 
}
.what-we-do-leaf-two.in-view{
    animation: rotate2 .6s ease-out;
}
@keyframes rotate2 {
    from {
        transform: rotate(-140deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
    }
}


.what-we-do-leaf-three{
    display: block;
    transform-origin: top left;
}
.what-we-do-leaf-three.in-view{
    animation: rotate3 .7s ease-out;
}
@keyframes rotate3 {
    from {
        transform: rotate(-230deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
    }
}


.what-we-do-leaf-four{
    display: block;
    transform-origin: top right;
}
.what-we-do-leaf-four.in-view{
    animation: rotate4 .8s ease-out;
}
@keyframes rotate4 {
    from {
        transform: rotate(-320deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
    }
} 


.button-style-two{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 14px 20px;
    background-color: #CCDEEA;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: .3rem;
    border-top-right-radius: .3rem;
    cursor: pointer;
    box-shadow: rgba(24, 167, 184, 0.2) 0px 8px 24px;
    box-shadow: rgba(24, 167, 184, 0.2) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-shadow: rgb(24, 167, 184) 0px 10px 20px -11px;
}
.button-style-two span{
    color: #444;
    font-size: 16px;
}
.button-style-two i{
    font-size: 1.2rem;
    color: #444;
    margin-left: 2px;
}

.what-we-do-left .button-style-two{
    margin-top: 2rem;
    padding: 16px 30px;
}
.what-we-do-left .button-style-two span{
    font-size: .9rem;
}
.what-we-do-left .button-style-two i{
    font-size: 1rem;
    display: none;
}

.what-we-do-section{
    display: flex;
    flex-direction: row;
    /* background:linear-gradient(125deg,#fff,#fff,#d0e0eb,#c3e1bc); */
    background:linear-gradient(#fff,#d0e0eb,#c3e1bc);
    padding: 6rem 0;
    padding-bottom: 0rem;
    height: 90vh;
    overflow-x: hidden;
}
.what-we-do-left{
    padding: 1rem 7.4rem;
    padding-bottom: 0;
    position: relative;
}
/* .what-we-do-left::before{
    content: '';
    background-image: url('../images/leaves_stroke.svg');
    height: 30rem;
    width: 40rem;
    position: absolute;
    left: -13rem;
    bottom: -18rem;
    z-index: 10;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    filter: blur(0px);
    filter:contrast()(10%);
} */
.what-we-do-left span{
    color: var(--secondary-color);
    color: #676464;
    font-size: 18px;
    font-family: var(--montserrat-semi-bold);
}
.what-we-do-left h2{
    font-size: 2vw;
    line-height: 40px;
    color: #000;
    z-index: 20;
    font-family: var(--heading-font);
    margin-top: 1.6rem;
    z-index: 100;
    position: relative;
}
.what-we-do-left h2::after{
    content: '';
    background-color: #00f38240;
    height: 3.4rem;
    width: 3.4rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: absolute;
    left: -10px;
    top: -14px;
    z-index: -1;
}

.what-we-do-left p{
    color: #4b4b4b;
    margin: 2rem 0;
    width: 75%;
    font-size: 1.1vw;
    line-height: 24px;
    font-family: var(--montserrat-medium);
}
.what-we-do-left h5{
    color: #e2e1e1;
    font-size: 1vw;
    font-weight: 400;
    padding: 1rem 0;
    font-family: var(--montserrat-medium);
}
.what-we-do-left i{
    color: var(--sb-thumb-color);
    color: #e3e3e3;
}
.what-we-do-left .explore-btn{
    margin-top: 2rem;
}
.what-we-do-left button{
    background: linear-gradient(155deg,#015998,#5AB947);
}
.what-we-do-left button span{
    font-family: var(--heading-font)!important;
    font-weight: 500;
    font-size: 14px!important;
    letter-spacing: 1px;
    color: #fff!important;
}
.stroke-font{
    font-size: 6vw;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 2px;
    margin: 2rem 0;
    -webkit-text-stroke-color: #012D4C;
    font-family: "Manrope Alt", Sans-serif;
}

.what-we-do-right{
    position: relative;
    display: inline-block;
}
.what-we-do-right::before{
    content: '';
    background-image: url('../images/leaves-white-stroke-group.png');
    transform: scale(.7);
    height: 57.6vw;
    width: 66vw;
    position: absolute;
    z-index: 100;
    
    top: -12rem;
    bottom: 0rem;
    left: -18rem;
    background-repeat: no-repeat;
}
.what-we-do-right img{
    height: 50vw;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.497) 0px 4px 10px;
}
.what-we-do-play-div{
    position: absolute;
    bottom: 44px;
    left: 0; 
    background-color: #CCDEEA;
    color: #000;
    padding: 10px;
    font-size: 2rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    cursor: pointer;
    transition: all ease-in-out .4s;
    z-index: 100;
}
.what-we-do-blank-div:hover i{
    transition: all ease-in-out .4s;
    color: var(--primary-color);
}
.what-we-do-arrow-div{
    position: absolute;
    bottom: 0; 
    right: 0; 
    color: white;
    padding: 10px;
    font-size: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: rotate(45deg);
}


/* --------------------- Product Section ------------------------- */

.product-section{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #0e161b; */
    position: relative;
    /* background: linear-gradient(45deg,#ccdeeac1,#bde3b584); */
    /* background-color: #ccdeeac1; */
    padding-bottom: 4rem;
}
/* .product-section::before{
    content: '';
    position: absolute;
    top: -4rem;
    background-image: url('../images/leaves_stroke_white.svg');
    left: -36rem;
    height: 80%;
    width: 80%;
    filter: blur(5px);
    background-repeat: no-repeat;
    transform: rotate(180deg);
} */
.product-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 4vw 8vw;
    position: relative;
}
.product-head span{
    font-weight: 100;
    color: #222;
    font-size: 18px;
    font-family: var(--montserrat-semi-bold);
}
.product-head h2{
    margin-top: 18px;
    margin-bottom: 1rem;
    color: #000;
    font-family: var(--heading-font);
    font-size: 2.2vw;
    z-index: 100;
    position: relative;
    line-height: 40px;
    margin-top: 1.6rem;
}
.product-head h2::after{
    content: '';
    background-color: #cccccc5c;
    height: 3.4rem;
    width: 3.4rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: absolute;
    left: -10px;
    top: -14px;
    z-index: -1;
}
.product-head div a{
    color: #fff;
    margin-top: 1rem;
}

.product-card-container{
    display: grid;
    /* grid-gap: 1rem; */
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 4.6rem 1rem; */
    margin: 0 6rem;
}
.product-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #fff; */
    padding: 20px;
    cursor: pointer;
    margin: 10px;
    border-top-left-radius: 2.6rem;
    border-bottom-right-radius: 2.6rem;
    border-top-right-radius: .4rem;
    border-bottom-left-radius: .4rem;
    background-color: #fff;
    background-color: #e2e7ebe8;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}
.product-card:hover .product-card-btn button{
    background-color: #5AB947;
}
.product-card h4{
    font-family: var(--heading-font);
    font-size: 1.4vw;
    margin-top: 2rem;
}
.product-card p{
    font-family: var(--montserrat-medium);
    text-align: center;
    padding: 12px;
    font-size: 16px;
    color: #3d3d3d;
}
.product-card-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.product-card button{
    border: none;
    width: 90%;
    background-color: #012D4C;
    background-color: #012D4C;
    margin-top: 1rem;
    color: #fff;
    font-family: var(--montserrat-medium);
    height: 2.2rem;
    transition: all ease-in-out .3s;
    cursor: pointer;
    margin: 2px;
    font-weight: 200;
    border-top-left-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem;
}
.product-card button:nth-child(1){
    /* background:linear-gradient(45deg,#012d4cc6,#5ab947df); */
}
.product-card button:nth-child(2){
    /* background:linear-gradient(-45deg,#012d4cc6,#5ab947df); */
}
.product-card button:hover{
    /* background:linear-gradient(45deg,#012d4cec,#5ab947fd); */
    /* background-color: #ccdeea83; */
    transition: all ease-in-out .3s;
}

.product-card-bg{
    width: 24rem;
    height: 24rem;
    position: relative;
    background-size: 110%;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-position: center;
}
.product-card-one-img{
    background-image: url('https://www.mangals.com/wp-content/uploads/2024/07/CRGO-Cut-Lamination_1.3.jpg');
}
.product-card-two-img{
    background-image: url('https://www.mangals.com/wp-content/uploads/2024/07/CRGO-Core-Assembly_1-1.jpg');
}
.product-card-three-img{
    background-image: url('https://www.mangals.com/wp-content/uploads/2024/06/Amorphous-Core_1.jpg');
}
.product-card-four-img{
    background-image: url('https://www.mangals.com/wp-content/uploads/2024/06/CRGO-Slit-Coils_1.jpg');
}
.product-card img{
    height: 18rem;
    width: 18rem;
    position: absolute;
    top: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2.1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    display: none;
}

/* --------------------- Bts Video Section  ------------------------- */

.bts-section {
    /* background-color: #012D4C; */
    padding-top: 2rem;
    /* margin-top: 2rem; */
    height: 140vh;
    position: relative;
}
.bts-bg-image{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    z-index: 1;
    
    filter: blur(6px);
    /* filter: grayscale(80%); */
}
.bts-bg-image img{
    width: 100%;
    /* width: 100%;
    height: 60%; */
}
 .bts-section .special-head{
    z-index: 20;
    position: relative;
 }
.bts-section .bts-head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    z-index: 100;
    z-index: 20;
}
.bts-section h2{
    font-size: 2.2vw;
    color: #fff!important;
}
.bts-section p{
    font-size: 1vw;
    color: #fff!important;
}
.bts-section span{
    color: #484747!important;
}
.bts-container{
    display: flex;
    align-items: center;
    z-index: 20;
    position: relative;
    justify-content: center;
}
.bts-container video{
    width: 76%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.bts-section::before{
    content: '';
    background-image: url('../images/leaves_stroke_white.svg');
    height: 30rem;
    width: 100%;
    position: absolute;
    /* right: 0; */
    bottom: 0;
    left: -14rem;
    background-repeat: no-repeat;
    z-index: 10;
    transform: scale(1);
}

/* ----------------------- Impace Section -------------------------- */

.impact-section{
    background-color: #0351891a;
    background: linear-gradient(#fff,#ccdeeac9,#bde3b5cd);
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-top: 4rem;
}
.impact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6rem;
}
.impact-left{
    background-image: url('https://www.mangals.com/wp-content/uploads/2024/06/DSC0629-scaled.jpg');
    height: 80vh;
    width: 50vw;
    background-size: 140%;
    border-top-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
}
.impact-right{
    background-image: url('https://www.mangals.com/wp-content/uploads/2024/06/DSC_0218-scaled.jpg');
    height: 80vh;
    width: 50vw;
    background-size: 140%;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
}
.impact-box{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    text-align: center;
    margin: 0 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.impact-box:hover{
    filter: grayscale(1);
    transition: all ease-in .4s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-size: 138%;
}
.impact-content{
    padding: 2rem;
    background: rgba( 16, 16, 16, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.impact-box h2{
    font-family: var(--heading-font);
    font-size: 2vw;
}
.impact-box p{
    font-family: var(--montserrat-medium);
    margin-top: 12px;
    font-size: 1vw;
    margin-top: 1.2rem;
    line-height: 30px;
    color: #dbdbdb;
}

/* ------------------- Testimonial Section  ----------------------- */

.testimonial-section{
    height: 94vh;
    background-image: url('../images/testimonial-bg-img.png');
    background-size: 100% 120%;
    background-repeat: no-repeat;
    /* margin: 4rem 0; */
    margin-bottom: 4rem;
    position: relative;
    margin-bottom: 10rem;
    /* z-index: -2; */
}
.testimonial-parallax {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.testimonial-leaves img{
    position: absolute;
    /* left: 0; */
    transform: scale(1);
    z-index: 0;
    right: 0;
}
.testimonial-container{
    position: absolute;
    width: 38vw;
    height: 76vh;
    background-color: #121C22;
    right: 4rem;
    bottom: 0;
    padding: 65px 70px 65px 70px;
    /* border-top-left-radius: 5rem; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.testimonial-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: absolute;
    width: 38vw;
    height: 12vh;
    right: 4rem;
    bottom: -5.7rem;
    padding: 0 4rem;
    background-color: #00f382;
    z-index: 100;
    /* border-bottom-right-radius: 5rem; */
}
.testimonial-content h2{
    font-size: 40px;
    font-family: var(--heading-font);
    color: #fff;
}
.testimonial-content p{
    font-family: var(--montserrat-medium);
    color: #999;
    padding: 12px 0;
    font-size: 20px;
    margin-top: 2rem;
}
.testimonial-content h3{
    color: #fff;
    font-family: var(--montserrat-semi-bold);
    margin-top: 4rem;
}
.testimonial {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.testimonial.visible {
  display: block;
  opacity: 1;
}
.testimonial-footer i {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0 4px;
  font-size: 14px;
}
.testimonial-button:hover {
  color: #012D4C;
}

.testimonial-button.active {
  color: white;
  transform: scale(1.1);
  /* border: 2px solid #012D4C; */
  border-radius: 50%;
  padding: 1px;
}

/* -------------------- Quality Approval section ------------------------ */

.quality-approval-section{
    height: 70vh;
}
.scroll-container {
  position: relative;
  width: 100%;
  max-width: 80%;
  height: 260px;
  margin: 20px auto;
  overflow: hidden;
}
.scroll-content {
  display: flex;
  width: max-content;
  animation: scroll 90s linear infinite;
  transition: all ease-in-out .3s;
}
.scroll-item {
    flex: 0 0 auto;
    width: 300px;
    height: 250px;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.scroll-item img{
    height: 100%;
    width: 100%;
}
/* .scroll-container:hover .scroll-content{
    animation-play-state: paused;
    transition: all ease-in-out 1s;
} */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.fade-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  pointer-events: none;
  z-index: 10;
}
.fade-left {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.fade-right {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

/* -------------------- Map Section ------------------------------- */

.map-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .map-container img{
    width: 80%;
} */
.map-container svg{
    height: 80vh;
    /* animation: map-animation ease-out 1s; */
}
.map-container svg path{
    transition: all ease-in-out .2s;
}

/* @keyframes map-animation {
    0%{
        opacity: 0;
        scale: .8;
    }
    100%{
        opacity: 1;
    }
} */

.map-container .ethiopia:hover{
    fill: #007bff;
}
.map-container .egypt:hover{
    fill: #007bff;
}
.map-container .usa:hover{
    fill: #007bff;
}

/* ------------------------- Faq's Section ----------------------------- */

.faq-section{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    position: relative;
    z-index: 100;
    
}

.faq-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 2rem;
    padding-left: 1rem;
}
.faq-right span{
    font-family: var(--montserrat-medium);
    font-size: 1.2rem;
}
.faq-right h2{
    font-size: 2.2vw;
    font-family: var(--heading-font);
    margin-top: 14px;
}
.faq-container {
  max-width: 670px;
  margin: 0 auto;
  margin-top: 2rem;
}
.faq {
    border-top: 1px solid #000;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.faq:nth-last-child(1){
    border-bottom: 1px solid #000;
}
.faq-question {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px;
    /* background-color: #f7f7f7; */
    cursor: pointer;
    font-weight: bold;
    position: relative;
    font-size: 1.2rem;
    font-family: var(--montserrat-medium);
}
.faq-question i{
    font-size: 2rem;
    color: #999;
}
.faq-question:hover {
  background-color: #ccdeea53;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  background-color: #fff;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  color: #62696D;
  font-size: 1rem;
  font-family: var(--montserrat-medium);
}
.faq.open .faq-answer {
  max-height: 150px; /* Adjust for longest answer */
  padding: 20px 15px;
}
.arrow {
  margin-right: .8rem;
  transition: transform 0.3s ease-out;
}
.faq.open .arrow {
  transform: rotate(45deg); /* Rotate arrow to point down */
}

/* --------------------- Footer ---------------------------- */

.above-footer-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    position: relative;
}
.above-footer-heading h1{
    z-index: 100;
    font-size: 12vw;
    /* margin-top: 2rem; */
    font-family: var(--heading-font);
    background-image: url('https://images.unsplash.com/photo-1504917595217-d4dc5ebe6122?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}
.above-footer-heading span{
    font-size: 12vw;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: var(--heading-font);
    margin-bottom: 20px;
    margin-left: 20px;
    position: absolute;
}

/* ---------------------------------- */

.footer-top{
    background-color: #CCDEEA;
    margin-top: 4rem;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    position: relative;
    z-index: 30;
}
.footer-top h2{
    font-size: 1.4vw;
    font-family: var(--montserrat-medium);
}
.footer-top button{
    font-family: var(--montserrat-semi-bold);
    background-color: #012D4C;
    color: #fff;
    padding: 12px 22px;
    transition: all ease-in-out .2s;
}
.footer-top button:hover{
    background-color: #012d4cdb;
}
.footer-top button span{
    color: #fff;
}
.footer-top button i{
    color: #fff;
}

footer{
    background-color: #121C22;
    font-family: var(--montserrat-medium);
    position: relative;
    z-index: 30;
}
footer .footer-section-one{
    height: 100vh;
    background-image: url('../images/map-bg.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding: 4rem 0;
}
.footer-section-one-left{
    color: #fff;
}
.footer-section-one-left h2{
    font-size: 2.6vw;
}
.footer-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-contact div{
    padding: 2rem 0;
}
.footer-contact div h4{
    font-weight: 600;
}
.footer-contact div p{
    font-weight: 200;
    padding: 6px 0;
}
.footer-section-one .stroke-font {
    font-size: 6vw;
    color: #121C22;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 2px;
    margin: 2rem 0;
    -webkit-text-stroke-color: #00f38258;
}

.contact-section {
    background: #ffffff;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 640px;
    text-align: start;
    padding: 4rem;
}
.contact-header h2 {
    margin: 0;
    font-size: 2.6rem;
    color: #333;
}
.contact-header p {
    margin: 0.5rem 0 1.5rem;
    font-size: 1.1rem;
    color: #666;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: all 0.3s ease;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.contact-form button {
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    background: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

footer .footer-map{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer iframe{
    width: 86%;
    height: 36vh;
    margin-bottom: 2rem;
}

.footer-section {
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #00f382;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #d8d6d6;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #00f382;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #00f382;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #00f382;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #00f382;
    padding: 13px 20px;
    border: 1px solid #00f382;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #18242c;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #00f382;
}
.footer-menu li {
  display: inline-block;
  text-align: center;
}
.footer-menu ul{
    text-align: center;
}
.footer-menu li:hover a{
  color: #00f382;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.footer-section-two{
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 4rem 6rem;
}


